*body {
    background-color: whitesmoke;
}
/* for all headings */
.get_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.logo-ml {
    margin-left: 180px;
}
/* index page carousel */
.carousel-img{
    width: 100%;
    height: 900px;
    background: url('Cell info pic/index-carousel-1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* for text on carousel 1 */
.text-carousel{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* for btn styling */

.btn-carousel{
    position: absolute;
    top: 125%;
    left: 45%;
    transform: translate(-50%, -50%);
}
/* for feature products bg on index */
.feature{
    background-color:#000000;
    color:white;
}

/* for 2 carousel in index page */
.carousel-img-2{
    width: 100%;
    height: 700px;
    background: url('Cell info pic/index-carousel-2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* for text of carousel 2 in index */
.carousel2-text{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* for video card 4 */
.video-bg{
    background-color:black;
    color: white;
    width: 100%;
    height: auto;
}
.video-1{
    width: 100%;
    height: 500px;
}
.video-ml{
    margin-top: 300px;
    margin-left: 33%;
}
/* for img border radius */
.b_rad {
    border-radius: 15px;
}
/* bg colr */
.box {
    width: 100%;
    height: auto;
    background-color: rgb(216, 216, 216);
}

/* Card hover of get value */
.hov_car {
    box-shadow: 0px 0px 10px 10px grey;
    width: 260px;
    transition: all 0.4s linear;
}

.hov_car:hover {
    transform: scale(1.1);
}

/* position of button in get value */
.but-pos {
    border: none;
}

/* Card styling of 2 cards get the highlights */
.sty_car {
    transition: all 0.4s linear;
}

.sty_car:hover {
    transform: scale(0.9);
}

.card-img1 {
    width: 100%;
    height: 500px;
    background: url('Cell info pic/img2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

/* for img 2 */
.card-img2 {
    width: 100%;
    height: 500px;
    background: url('Cell info pic/img3.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

/* for img 3 */
.card-img3 {
    width: 100%;
    height: 500px;
    background: url('Cell info pic/img4.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

/* for img 4 */
.card-img4 {
    width: 100%;
    height: 500px;
    background: url('Cell info pic/img5.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

/* For Text */
.text-card {
    transform: translateY(-450px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    color: white;
}


/* Footer */
.footer-box {
    background-color:black;
    color: white;
    width: auto;
    height: auto;
}
ul{
  list-style: none;
}
/* footer margin for rights */
.foot_margin {
    margin-top: 180px;
}

/* footer icon */
.icon {
    width: 40px;

}

/* For Nav dropdown */
.drop-style {
    height: 300px;
    width: 1500px;
    box-sizing: border-box;
    max-width: 1024px;
    border-radius: 30px;
    background-color: #E9EAE7;
}

/* For Img styling in dropdown */
.img-drop {
    border-radius: 10px;
    transition: all 0.1s linear;
    width: 100px;
}

.img-drop:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px lightgrey;

}

/* for dropdown headings */
.head-drop:hover {
    background-color: rgb(192, 192, 192);
    border-radius: 40px;
    width: 90px;
}
/* For Explore card text */
.Explore-text {
    font-family: Arial, Helvetica, sans-serif;
}

/* For bg of explore cards */
.bg-clr {
    background-color: #E9EAE7;
}

/* for hovers */
.hov-img {
    width: 260px;
    transition: all 0.4s linear;
}

.hov-img:hover {
    transform: scale(0.9);
}

/* For Gallery Page Carousel 1 */
.Gall-Slider {
    height: 500px;
    background: url('Cell info pic/Gallery Carousel1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.Gall-Slider2 {
    height: 500px;
    background: url('Cell info pic/Gallery\ Carousel\ 2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.Exp-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* for button of cr1 in gallery page */
.exp-btn {
    position: absolute;
    top: 130%;
    left: 45%;
    transform: translate(-50%, -50%);
}

/* For Gallery Moto Carousel Text */
.Carousel-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* For Btn and shop now */
.Carousel-btn {
    position: absolute;
    top: 55%;
    left: 17%;
    transform: translate(-50%, -50%);
}

/* For Gallery Page Crads 4s */
.gall-card {
    border-radius: 20px;
    background: url('Cell info pic/Gall Card 1.jpg')no-repeat;
    height: 350px;
    background-size: cover;
}

.gall-card1 {
    border-radius: 20px;
    background: url('Cell info pic/Gall\ Card2.jpg')no-repeat;
    height: 350px;
    background-position: center;
    background-size: cover;
}

.gall-card2 {
    border-radius: 20px;
    background: url('Cell info pic/Gall\ Card3.jpg')no-repeat;
    height: 350px;
    background-position: center;
    background-size: cover;
}

.gall-card3 {
    border-radius: 20px;
    background: url('Cell info pic/Gall\ Card4.jpg')no-repeat;
    height: 350px;
    background-position: center;
    background-size: cover;
}

/* For 4 cardsin Gallery page */
.cards4-text {
    transform: translateY(10px);
    font-family: Arial, Helvetica, sans-serif;
    font: weight 800px;
    ;
    text-align: center;
    color: white;
}

.cards4-text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
    text-align: center;
    color: white;
    position: relative;
    text-align: center;
    top: 70%;
}

.cards4-text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    position: relative;
    text-align: center;
    top: 80%;
}

/* For infinite Slider Scroll */
.carousel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 15em;
    height: auto;
    padding: 1px;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

/* For Text */
.body-card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    color: black;
}

/* For all cards Border None */
.card-border {
    border: none;
}

/* for colors of text 4k */

.for-box {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #ECEDE7 0%, #C0CAD3 35%, #6C7CA0 70%, #cbe2ff 100%);

}

/* for upper heading in 4k moments */
.head1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
}
.text-4k{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color:#0A2A43;
}

/* for hovers on images */
.img-4k1 {
    height: 550px;
    background: url('Cell info pic/4K1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s linear;
}
.img-4k1:hover .btn-hover{
position: relative;
top: 400px;
}
/* img 4 */
.img-4k2 {
    height: 550px;
    margin-left: 8px;
    background: url('Cell info pic/4K2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s linear;
}
.img-4k2:hover .btn-hover{
position: relative;
top: 400px;
}
/* for button hover */
.btn-hover {
    position: relative;
    left: 40%;
    top: 550px;
    background-color:lightgrey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
      transition: all 0.2s linear;
}
.btn-hover:hover{
    background-color: gray;
}


/* For Discover box */
.Discover-box {
    background: linear-gradient(135deg, #b4b4b4 0%, #E2E2E2 45%, #A7A7A7 100%);
    width: 100%;
    height: auto;

}

.img-radius {
    border-radius: 30px;
}

/* For Discover Images */
.discover1 {
    width: 100%;
    height: 300px;
    background: url('Cell info pic/Disc1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.discover2 {
    width: 100%;
    height: 300px;
    background: url('Cell info pic/Disc2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.discover3 {
    width: 100%;
    height: 650px;
    background: url('Cell info pic/Disc3.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    border-radius: 20px;
}

.discover4 {
    width: 100%;
    height: 300px;
    background: url('Cell info pic/Disc4.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    border-radius: 10px;
}

.discover5 {
    width: 100%;
    height: 300px;
    background: url('Cell info pic/Disc5.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    border-radius: 10px;
}

/* for hovers in img */
.discover {
    box-shadow: 0px 0px 5px 5px lightgrey;
    transition: all 0.4s linear;
}

.discover:hover {
    transform: scale(0.9);
}

/* for text of discover */
.discover-text {
    transform: translateY(220px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    color: black;
}

/* for mid image */
.discover-text2 {
    transform: translateY(490px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    color: black;
}



/* Iphone page css start */
/* for iphone text first */
.iphone-box{
    background: lightgrey;
    height: auto;
}
.bg-none{
    background: none;
}
.iphone-text{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 60px;
    margin-left: 40px;
}
/* for sixing of photos */
.phone-size{
    height: 80px;
}
/* for text */
.iphones-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/* For exploring line upm iphone */
.line-img{
    border-radius: 30px;

}
/* for text in modals of iphones */
.line-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.modal-display{
    margin-top: 10px;
    border: 1px solid grey;
    height: 100px;
    border-radius: 20px;
    width: 200px;
}
/* for logo of apple in kodals */
.apple-img{
    height: 80px;
    align-items: center;
    margin-left: 30%;
}
/* for hovers on image */
.iphone-hover{
    transition: all 0.5s ease;
}
.iphone-hover:hover{
    transform: scale(1.1);
}
/* for iphone page 1 carousel */
.carousel-iphone{
    height: 500px;
    background: url('Cell info pic/carousel-iphone1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
/* for texts of carousel */
.carousel-iphone-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    position: relative;
    top: 40%;
    left: 5%;
}
/* for btn positioning */
.carousel-iphone-btn{
    position: relative;
    top: 40%;
    left: 12%;
}
.essentail-img1{
    height: 850px;
    background: url('Cell info pic/essentail1.png');
    background-position: center;
    background-size: cover;
    border-radius: 30px;

}
.essentail-img2{
    height: 853px;
    background: url('Cell info pic/essential2.png');
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    background-color: #f0f0f0;
}
/* for text on images */
.essential-text{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    position: relative;
    top: 83%;
    left: 1%;
    text-align: center;
}
/* for hovers */
.essential-hover{
    transition: all 0.5s ease-in-out;
}
.essential-hover:hover{
     transform: scale(0.9);
}
/* for battery  */
.iphone-battery{
    margin-top: 100px;
    margin-left: 300px;
}
/* for text */
.battery-text{
    font-family: Arial, Helvetica, sans-serif;
}
/* magic pictures  */
.magic-img{
    border-radius: 30px;
    border: 1px solid lightgrey;
}
.magic-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    text-align: left;
}
/* for iphone environment */
.air-1{
border: 2px solid black;
height: 200px;
width: 320px;
border-radius: 30px;
}
.purple-clr{
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.orange-clr{
    color: orange;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}
.blue-clr{
     color:steelblue;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}
/* for campare btn */
.campare-btn{
    margin-top: 5%;
    margin-left: 40%;
}
.campare-nav{
    margin-right: 20%;
    text-decoration: none;
}
.modal-box-1{
    border-radius: 15px;
    background-color: #F9F9F7;
}
.modal-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700px;
}
/* Samsung page styling start */
.samsung-img{
    width: 100%;
    height: 800px;
    background: url('Cell info pic/carousel-sam-1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* for text of carousel */
.text-samsung{
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* carousel video */
.samsung-vid {
    margin-top: 10%;
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;

}
.samsung-text{
     position: absolute;
    top: 2%;
    left: 10%;
    width: 100%;
    height: auto;
    object-fit: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;

}
.samsung-bg{
    width: 100%;
    height: auto;
    background-color: black;
}
/* for 2 video of samsung */
.video-samsung{
margin-left: 8%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* for above text */
.video-text{
   background: #000;            /* Samsung style black background */
  color: #fff;                 /* Clean white text */
  padding: 80px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 0 auto;
}
.video-text-2{
 background: #000;            /* Samsung style black background */
  color: #fff;                 /* Clean white text */
  padding: 80px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15%;
}
/* for card of samsung */
.border-clr{
    border: 0.5px solid steelblue;
    border-radius: 20px;
}
.samsung-hover{
    transition: all 0.5s ease;
}
.samsung-hover:hover{
    transform: scale(0.9);
}
/* for video of carousel 3 */
.video-text-camera{
    background: #000;            /* Samsung style black background */
  color: #fff;                 /* Clean white text */
  padding: 10px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 0 auto;
}
.sam-last{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 90px;
    
}
/* for cards img/icon */
.samsung-card{
    margin-left: 285px;
    margin-top: 25px;
}
.sam-last-text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
    text-align: center;
}
/* for brand page styling start */
.brand-carousel-img{
    width: 100%;
    height: 800px;
    background: url('Cell info pic/Brand-cr-1.jpeg')no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.brand-carousel{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.slider-border{
    border-radius: 10px;
    border: 2px solid lightgrey;
}
.brand-box{
    width: 80%;
    height: auto;
    background-color: black;
    color: white;
    margin-left: 10%;
    border-radius: 30px;
}
/* scroll on animation */
